# Node.js dependencies
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build and output directories
.next/
out/
dist/
.cache/
.vite/
.vscode/
.idea/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.turbo/

# Miscellaneous
coverage/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Git-related
.git/
